<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <title>Buscador de Direcciones</title>
    <link rel='stylesheet' href="{{ url_for('static',filename='base.css') }}">
</head>
<body>
    <div class='ContainerForm'>
        <header>
            <h1>🔍 Buscador de Direcciones 🔍</h1>
        </header>

        <div class='Instructions'>
            <p> LLena el siguiente formulario con los datos conocidos. <br>
                El código postal debe que ser un número de 5 dígitos </p>
        </div>

        <div class='FormContainer'>
            <form method='POST'>
                {{ Form.hidden_tag() }}
                
                <div class='SearchForm'>
                    
                    <div class='InputForm'>
                        {{ Form.PostalCode.label }}<br>
                        {{ Form.PostalCode() }}
                    </div>
                    <br>

                    <div class='InputForm'>
                        {{ Form.Location.label }}<br>
                        {{ Form.Location() }}
                    </div>
                    <br>

                    <div class='InputForm'>
                        {{ Form.City.label }}<br>
                        {{ Form.City() }}
                    </div>
                    <br>

                    <div class='InputForm'>
                        {{ Form.District.label }}<br>
                        {{ Form.District() }}
                    </div>
                    <br>

                    <div class='InputForm'>
                        {{ Form.State.label }}<br>
                        {{ Form.State() }} 
                    </div>
                </div>
                <br>

                <div class='ButtonsContainer'>
                    {{ Form.AutocompleteButton(class='button') }}
                    {{ Form.CleanButton(class='button') }}
                </div>
            </form>
        </div>